# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信小程序
project.private.config.json

# 本地菜品图片（太大，不上传）
photos/

# IDE
.idea/
*.swp
*.swo
